.who {
  background-color: #f7f7f7;
  padding: 22rem 0;
  margin-top: -20vh;
}

.who__text-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.who__header {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
}
.center {
  text-align: center;
}

@media (max-width: 600px) {
  .who {
    margin-top: -20vh;
    padding-top: 26rem;
  }
  .who__text-box {
    top: 60rem;
  }

  .who__header {
    font-size: 1rem;
    letter-spacing: normal;
  }

  p {
    font-size: small;
  }
}
