.who__title {
  height: 35vh;
  background-image: url(../../assets/Who.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  padding-bottom: 1rem;
}

.who__title-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* this % are in relation to the element itself (and not the parent) - this way we set it right in the middle */
  text-align: center;
}

.who__title-text {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
  display: block;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.who__text-box {
  padding: 3rem;
}
