.headerNav {
  background-color: #34252F;
}

.header__logo {
  height: 5rem;
}

.headerNav__content {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 1rem;
  text-decoration: none;
  color: #fff;
}

.headerNav__links{
  display: flex;
  align-items: center;
}

@media (max-width: 770px) {
  .headerNav__links {
    display: block;
  }

}