.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      #046306,
      rgba(40, 180, 133, 0.8)
    ),
    url(../../assets/businessBackground.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 1rem;
  left: -11rem;
}
.header__logo {
  height: 5rem;
}
.header__text-box {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* this % are in relation to the element itself (and not the parent) - this way we set it right in the middle */
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  letter-spacing: 1rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.7rem;
}

@media (max-width: 600px) {
  .header__text-box {
    top: 60%;
  }
  .header__logo-box {
    top: 8rem;
    margin-left: 6.5rem;
  }
  .heading-primary--main {
    font-size: 2rem;
    letter-spacing: 0.7rem;
  }
  .heading-primary--sub {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}
