.partners {
  padding: 7rem 0;
  position: relative;
}

.partners__header {
  text-align: center;
  margin-bottom: 1rem;
}

.container {
  text-align: center;
  margin-top: 2rem;
}

a {
  font-size: 1rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 7px;
  text-transform: uppercase;
}

a:hover {
  transform: translateY(-3px);
  /* ARGS: (direction of the shadow) X   Y   BLURR   COLOR*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.4s;
}
a:hover::after {
  transform: scale(1.5);
  /* increase the size of the element, Nx */
  opacity: 0;
  /* sets something to invisble */
}

a:link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

h5 {
  color: #00baff;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 4rem;
  padding-left: 7rem;
  font-size: 1rem;
  transform: skewX(-12deg);
}
.story:not(:last-child) {
  margin-bottom: 7rem;
}
.story__shape {
  width: 10rem;
  height: 10rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}
.story__img {
  height: 100%;
}
.story__text {
  transform: skewX(12deg);
}
